<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- adb reverse works without Android 17 local-network/Nearby permission. -->
    <uses-permission
        android:name="android.permission.ACCESS_LOCAL_NETWORK"
        tools:node="remove" />
</manifest>
